Repository 1987praveenkumarbs/praveen3: changes, and which Jenkins stages are due for each by the changed paths.
All: test, dev, prd

test:
              steps{
                  sh("uname")
              }
          

dev:
              steps{
                  echo "Change found in dec1 file"
              }
          

prd:
              steps{
                  sh("sudo yum install python3-pip* -y")
                  sh("sudo pip --version")
                  echo "prd stage is success"
              }
          

Update dec2
  dec2
Due: prd

Create test666.yaml
  test666.yaml
Due: none

Rename Jenkinsfile to Jenkinsfile_jan25
  Jenkinsfile_jan25
Due: none

Create Jenkinsfile
  Jenkinsfile
Due: none

Update test666.yaml
  test666.yaml
Due: none

Update Jenkinsfile
  Jenkinsfile
Due: none

Update dec1
  dec1
Due: test, dev, prd

Path conditions:
  test: any of: dec1
  dev: any of: dec1
  prd: (any of: dec1) or (any of: dec2)
